@font-face {
    font-family: 'exo_2_med';
    src: url(./fonts/Exo_2/static/Exo2-Medium.ttf);
}

body {
    margin: 0;
    color: white;
    font-family: 'exo_2_med', sans-serif;
    background-color: #051721;
}

header {
    height: 90px;
    width: 100%;
    background-color: #07242E;
    position: sticky;
    top: 0;
    z-index: 1;
}

footer {
    height: 90px;
    width: 100%;
    background-color: #07242E;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0;
}

p {
    margin: 0;
}

.wrap {
    max-width: 1700px;
    margin: 0 auto;
}

.wrap-header {
    height: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 22px;
}

.left-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-headline {
    font-size: 18px;
    font-weight: 500;
    padding-left: 2px;
}

.logo-img {
    width: 40px;
    height: 40px;
    filter: invert(1) opacity(0.15);
}

#content {
    min-height: calc(100vh - 280px);
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.search-bar {
    border-radius: 5px;
    height: 25px;
    width: 150px;
    padding-left: 5px;
    border: 2px solid transparent;
}

.search-bar:focus {
    background-color: #ededed;
    direction: none;
    border: 2px solid red;
}

.spinner {
    height: 200px;
    width: 200px;
}

.spinner img {
    width: 100%;
    height: 100%;
    filter: opacity(0.4);
    animation: spin 2s linear infinite;
}

.copyright {
    font-size: 12px;
    color: #575e60;
}

.card {
    cursor: pointer;
    margin: 10px;
    width: 220px;
    height: 300px;
    background-color: transparent;
    transition: .25s;
    border-radius: 10px;
}

.card:hover {
    transform: scale(0.98);
    box-shadow: 0 0 20px 2px rgba(91, 91, 91, 0.471);
}

.card:hover .card-img img {
    transform: scale(1.1);
}

.card-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    height: 40px;
    width: 100%;
    background-color: #07242E;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 18px;
}

#pokemon_id {
    padding: 0px 10px;
}

#pokemon-name {
    padding-left: 8px;
}

.card-bottom {
    background-color: #07242E;
    height: 60px;
    width: 220px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img {
    width: 220px;
    height: 200px;
}

.card-img img {
    width: 200px;
    height: 90%;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    filter: drop-shadow(5px 10px 5px #222);
    transition: .25s;
}

.info-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #575e607d;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-card {
    width: 400px;
    height: 700px;
    background-color: #07242E;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.info-card-top {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.info-card-bottom {
    width: 100%;
    height: 90px;
}

.info-card-img {
    height: 250px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.info-card-img img {
    height: 260px;
    aspect-ratio: 1/1;
    margin-bottom: -10px;
}

#info-card-id {
    font-size: 28px;
    padding: 0px 24px;
}

#info-card-name {
    font-size: 28px;
    margin-left: 10px;
}

.nav-btn {
    height: 40px;
    width: 40px;
    margin: 0px 20px;
}

.nav-btn button {
    height: 100%;
    width: 100%;
    background-color: #0b3a49;
    border-style: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow {
    width: 22px;
    height: 22px;
    padding-right: 4px;
    filter: invert() opacity(0.5);
}

#after-btn {
    rotate: 180deg;
}

.reiter {
    height: 50px;
    width: 400px;
    background-color: #0b3a49;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.poke-types {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid rgba(255, 255, 255, 0.505);
    border-bottom: 2px solid rgba(255, 255, 255, 0.363);
}

.poke-stats {
    width: 360px;
    height: 200px;
    margin-top: 10px;
    display: flex;
    padding: 20px 20px;
}

.reit {
    width: 132px;
    padding-top: 16px;
    height: 34px;
    border-bottom: 4px solid #0b3a49;
    text-align: center;
}

.reit:hover {
    border-bottom: 4px solid rgba(255, 166, 0, 0.484);
}

.reit:hover.active {
    border-bottom: 4px solid  rgb(255, 166, 0);
}

.active {
    border-bottom: 4px solid rgb(255, 166, 0);
}

.reit-mid {
    flex-grow: 1;
}

.reit-mid:hover {
    border-bottom: 4px solid orange;
}

.close-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0b3a49;
    margin-right: 15px;
    display: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.close-btn img {
    padding-top: 1px;
    filter: invert(1) opacity(0.5);
    width: 40%;
    height: 40%;
}

.reit-sep {
    height: 50px;
    width: 2px;
    background-color: #042029;
}

#load-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-l-10 {
    margin-left: 20px;
}

.m-r-20 {
    margin-right: 60px;
}

.button {
    cursor: pointer;
    width: 180px;
    height: 60px;
    margin-top: 40px;
    margin-bottom: 180px;
    border-radius: 5px;
    background-color: #0b3a49;
    border-style: none;
    font-size: 16px;
    color: white;
    font-family: 'exo_2_med', sans-serif;
    transition: .01s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:active {
    background-color: #0c3f51;
    transform: scale(0.95);
}

.type-icon {
    width: 40px;
    height: 40px;
}


.normal {
    background-color: #A8A77A;
}

.fire {
    background-color: #EE8130;
}

.water {
    background-color: #6390F0;
}

.electric {
    background-color: #F7D02C;
}

.grass {
    background-color: #7AC74C;
}

.ice {
    background-color: #96D9D6;
}

.fighting {
    background-color: #C22E28;
}

.poison {
    background-color: #A33EA1;
}

.ground {
    background-color: #E2BF65;
}

.flying {
    background-color: #A98FF3;
}

.psychic {
    background-color: #F95587;
}

.bug {
    background-color: #A6B91A;
}

.rock {
    background-color: #B6A136;
}

.ghost {
    background-color: #735797;
}

.dragon {
    background-color: #6F35FC;
}

.dark {
    background-color: #705746;
}

.steel {
    background-color: #B7B7CE;
}

.fairy {
    background-color: #D685AD;
}

.bar-stats {
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bars {
    padding-left: 40px;
    padding-right: 20px;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.evo img {
    width: 120px;
    height: 120px;
}

.media-main-left {
    width: 120px;
    padding-left: 10px;

}

.evolution {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 180px;
    width: 400px;
    margin-left: -20px;
    margin-right: -20px;
}

.evolution-arrow {
    width: 30px;
    height: 30px;
    font-size: 50px;
    margin: -5px;
}

.evolution-arrow img {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    filter: invert(1);
}

#progressbar {
    background-color: rgb(109, 109, 109);
    border-radius: 9px;
    padding: 2px 4px;
    height: 14px;
    width: 140px;
    display: flex;
}

#progressbar>div {
    background-color: rgb(145, 255, 0);
    height: 10px;
    border-radius: 5px;
    margin-top: 2px;
}

.loader {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 32px 0 #fff, -32px 0 #fff;
    position: relative;
    animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
    0% {
        background-color: #FFF2;
        box-shadow: 32px 0 #FFF2, -32px 0 #FFF;
    }

    50% {
        background-color: #FFF;
        box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
    }

    100% {
        background-color: #FFF2;
        box-shadow: 32px 0 #FFF, -32px 0 #FFF2;
    }
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media(max-width:595px) {
    #content {
        padding: 10px;
        min-height: calc(100vh - 200px);
    }
}


@media(max-width:580px) {
    .info-card {
        width: 300px;
        height: 600px;
    }

    .info-card-top {
        height: 60px;
        justify-content: space-between;
    }

    .info-card-img {
        height: 200px;
    }

    .info-card-img img{
        height: 210px;
    }

    .reiter {
        width: 300px;
    }

    .reit {
        width: 100px;
    }

    .poke-stats {
        width: 280px;
        padding: 10px 10px;
    }

    .evolution {
        width: 300px;
        justify-content: center;
        margin: 0 auto;
    }

    .evo {
        width: 80px;
    }

    .evo img {
        width: 85px;
        height: 85px;
    }

    .evolution-arrow {
        width: 10px;
        height: 10px;
        margin: 2px;
        padding-bottom: 25px;
    }

    .bars {
        margin-left: -18px;
        padding-right: 10px;
    }

    #progressbar {
        width: 70px;
    }

    footer {
        height: 60px;
    }

    header {
        height: 70px;
    }

    #info-card-id {
        padding-left: 20px;
        padding-right: 0;
        font-size: 24px;
    }

    #info-card-name {
        margin-left: -30px;
        font-size: 24px;
    }
    
    .media-main-right {
        width: 142px;
    }

    .media-main-left {
        width: 120px;
        padding-left: 10px;
    }

    .bar-stats {
        padding-left: 10px;
    }

    .close-btn {
        display: flex;
    }

    #content {
        min-height: calc(100vh - 130px);
    }
}

@media(max-width:360px) {
    .search-bar {
        width: 100px;
    }
}