@font-face {
    font-family: 'exo_2_med';
    src: url(./fonts/Exo_2/static/Exo2-Medium.ttf);
}

body {
    margin: 0;
    color: white;
    font-family: 'exo_2_med', sans-serif;
    background-color: #051721;
}

header {
    height: 90px;
    width: 100%;
    background-color: #07242E;
    position: sticky;
    top: 0;
    z-index: 1;
}

footer {
    height: 90px;
    width: 100%;
    background-color: #07242E;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0;
}

p {
    margin: 0;
}
.wrap {
    max-width: 1900px;
    margin: 0 auto;
}

.wrap-header {
    height: 100%;
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 22px;
}

.left-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-headline {
    font-size: 18px;
    font-weight: 500;
    padding-left: 2px;
}

.logo-img {
    width: 40px;
    height: 40px;
    filter: invert(1) opacity(0.15);
}

#content {
    min-height: calc(100vh - 280px);
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.search-bar {
    border-radius: 5px;
    height: 25px;
    width: 150px;
    padding-left: 5px;
    border: 2px solid transparent;
}

.search-bar:focus {
    background-color: #ededed;
    direction: none;
    border: 2px solid red;
}

.spinner {
    height: 200px;
    width: 200px;
}

.spinner img {
    width: 100%;
    height: 100%;
    filter: opacity(0.4);
    animation: spin 2s linear infinite;
}

.copyright {
    font-size: 12px;
    color: #575e60;
}

.card {
    margin: 10px;
    width: 220px;
    height: 300px;
    background-color: transparent;
    transition: .25s;
    border-radius: 10px;
}

.card:hover {
    transform: scale(0.98);
    box-shadow: 0 0 20px 2px rgba(91, 91, 91, 0.471);
}

.card:hover .card-img img {
    transform: scale(1.1);
}

.card-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    height: 40px;
    width: 100%;
    background-color: #07242E;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 18px;
}

#pokemon_id {
    padding: 0px 10px;
}

#pokemon-name {
    padding-left: 8px;
}

.card-bottom {
    background-color: #07242E;
    height: 60px;
    width: 220px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img {
    width: 220px;
    height: 200px;
}

.card-img img {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    filter: drop-shadow(5px 10px 5px #222);
    transition: .25s;
}

.info-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #575e607d;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-card {
    width: 400px;
    height: 700px;
    background-color: #07242E;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.info-card-top {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.info-card-bottom {
    width: 100%;
    height: 90px;
}

.info-card-img {
    height: 250px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.info-card-img img {
    height: 260px;
    aspect-ratio: 1/1;
    margin-bottom: -25px;
}

#info-card-id {
    font-size: 28px;
    padding: 0px 24px;
}

#info-card-name {
    font-size: 28px;
}

.reiter {
    height: 50px;
    width: 400px;
    background-color: #0b3a49;
    display: flex;
    flex-direction: row;
}

.poke-types {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgba(255, 255, 255, 0.505);
    border-bottom: 2px solid rgba(255, 255, 255, 0.363);
}

.poke-stats {
    width: 400px;
    height: 200px;
    margin-top: 10px;
    display: flex;
    padding: 20px 20px;
}

.reit {
    width: 131.3333px;
    padding-top: 16px;
    height: 34px;
    border-bottom: 4px solid #0b3a49;
    text-align: center;
}

.reit:hover {
    border-bottom: 4px solid orange;
}

.reit-mid {
    padding-top: 16px;
    height: 34px;
    border-bottom: 4px solid #0b3a49;
    text-align: center;
    flex-grow: 1;
}

.reit-mid:hover {
    border-bottom: 4px solid orange;
}

.reit-sep {
    height: 50px;
    width: 2px;
    background-color: #042029;
}

#load-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-l-10 {
    margin-left: 20px;
}

.m-r-20 {
    margin-right: 60px;
}

.button {
    width: 180px;
    height: 60px;
    margin-bottom: 200px;
    border-radius: 5px;
    background-color: #0b3a49;
    border-style: none;
    font-size: 16px;
    color: white;
    font-family: 'exo_2_med', sans-serif;
    transition: .01s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:active {
    background-color: #0c3f51;
    transform: scale(0.95);
}

.type-icon {
    width: 40px;
    height: 40px;
}


.normal {
    background-color: #A8A77A;
}

.fire {
    background-color: #EE8130;
}

.water {
    background-color: #6390F0;
}

.electric {
    background-color: #F7D02C;
}

.grass {
    background-color: #7AC74C;
}

.ice {
    background-color: #96D9D6;
}

.fighting {
    background-color: #C22E28;
}

.poison {
    background-color: #A33EA1;
}

.ground {
    background-color: #E2BF65;
}

.flying {
    background-color: #A98FF3;
}

.psychic {
    background-color: #F95587;
}

.bug {
    background-color: #A6B91A;
}

.rock {
    background-color: #B6A136;
}

.ghost {
    background-color: #735797;
}

.dragon {
    background-color: #6F35FC;
}

.dark {
    background-color: #705746;
}

.steel {
    background-color: #B7B7CE;
}

.fairy {
    background-color: #D685AD;
}

.bar-stats {
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bars {
    padding-left: 50px;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.evo img {
    width: 100px;
    height: 100px;
}

.evolution {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 180px;
    width: 380px;
}

.evolution-arrow {
    width: 30px;
    height: 30px;
    font-size: 50px;
}

#progressbar {
    background-color: rgb(109, 109, 109);
    border-radius: 9px;
    padding: 2px 4px;
    height: 14px;
    width: 140px;
  }
  
  #progressbar>div {
    background-color: rgb(145, 255, 0);
    height: 10px;
    border-radius: 5px;
    margin-top: 2px;
  }

.loader {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 32px 0 #fff, -32px 0 #fff;
    position: relative;
    animation: flash 0.5s ease-out infinite alternate;
  }
  
  @keyframes flash {
    0% {
      background-color: #FFF2;
      box-shadow: 32px 0 #FFF2, -32px 0 #FFF;
    }
    50% {
      background-color: #FFF;
      box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
    }
    100% {
      background-color: #FFF2;
      box-shadow: 32px 0 #FFF, -32px 0 #FFF2;
    }
  }
        

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}